html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #b4d455;
}

a {
    color: white;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    flex-basis: 100%;

}

.card-title {
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.card-body {
    padding-bottom: 1em;

}

.feature-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.price {
    font-size: 50px;
    font-family: serif;
    margin: 10px 0;
}

.btn-primary {
    text-decoration: none;
    background: #847477;
    padding: 10px;
    color: white;
    border-radius: 4px;
}

.container {
    /* This is a flex container */
}

.card {
    /* This is a flex item */
}

main{ /*large screen*/
    display: grid;
    grid-template-columns: 5% repeat(3, 1fr) 5%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
            ". box1 box 1-1 box1-2 ."
            ". box2 box2 box2 ."
            ". box3 box3 box3 ."
            ". boxhr boxhr boxhr ."
            ". box4 box4 box7-1 ."
            ". box5 box5-1 box7-2 ."
            ". box5-2 box5-2 box8 .";
}

main{ /* XL screen*/
    display: grid;
    grid-template-columns: 15% repeat(3, 1fr) 15%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
            ". box1 box 1-1 box1-2 ."
            ". box2 box2 box2 ."
            ". box3 box3 box3 ."
            ". boxhr boxhr boxhr ."
            ". box4 box4 box7-1 ."
            ". box5 box5-1 box7-2 ."
            ". box5-2 box5-2 box8 .";
}
