* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

}
body{
  display: grid;
  grid-template-columns: 20% 2fr 1fr;
  grid-template-rows: 1fr repeat(3, 6fr) 1fr 3fr 1fr;
  grid-gap:0;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
          "nav  nav   nav"
          "side cont1 ad1"
          "side cont2 ad2"
          "side cont3 ad3"
          "side page page"
          "side tfoot tfoot"
          "side bfoot bfoot";
}
h3{
  color: #4A9A90;
  margin: 1em;
}
p {
  line-height: 1.5em;
  margin: 1em;
}
li{
  list-style: none;
}
img{
  height: 100%;
  width: 100%;
}
/* NAV controls */
#navbar{
  grid-area: nav;
  background-color: black;
  margin: 0;
}
#navlist{
  display: flex;
  flex-direction: row;
}
#navlist li{
  padding: 15px;
  color: white;
}
#navlist li:hover{
  color: black;
  background-color: white;
}
#sidebar{
  grid-area: side;
  background-color: #F0F0F0;

}
#sidelist{
  display: flex;
  flex-direction: column;
}
#sidelist li{
  padding: 20px 40px;
}

#sidelist li:hover{
  color: white;
  background-color: black;
}
#menutag{
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2em;
}
#contarea1{
  grid-area: cont1;
}
#contarea2{
  grid-area: cont2;
}
#contarea3{
  grid-area: cont3;
}
/*AD AREA*/
.ad1{
  border: 1px solid gray;
  height: 100px;
  width: 350px;
  margin: auto;
  margin-top: 10px;

}
.ad2{
  border: 1px solid gray;
  height: 200px;
  width: 350px;
  margin: auto;
  margin-top: 30px;
}
#adarea1{
  grid-area: ad1;
}

#adarea2{
  grid-area: ad2;
}
#adarea3{
  grid-area: ad3;
}
#pages{
  grid-area: page;
}
#pageslist{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
#pageslist li{
  padding: 1em;
}

#topfoot{
  grid-area: tfoot;
  line-height: 30px;
  padding: 10px;
  background-color: #666666;
  color: white;
}

#botfoot{
  grid-area: bfoot;
  background-color: #333333;
  line-height: 20px;
  padding: 10px;
}