

body {
  margin: 0;
  padding:0;
  background-color: #F0F0F0;

}
li {
  list-style: none;
  padding: 5px;

}
ul{
  display: flex;
  flex-direction: row;

}

.container1 {
  /*justify-content: center;*/
  /*border: 1px solid grey;*/
}

.container-fluid{

}

.row1 {
  background-color: white;
  /*!**!border: 1px solid grey;*/
  /*margin-bottom: 10px;*/
}
.big {
  height: 50px;
}
