* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
/* screen sizes 500px and down */
body {
    height: 100%;
    display: grid;
    margin: 5px;
    grid-template-areas:
            "alert"
            "h1   "
            "nav "
            "head "
            "main "
            "sub  "
            "foot "
  }
.alert-info {
    display: flex;
    grid-area: alert;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: #CBFCFD;
    border: 1px solid grey;
  }
h1 {
    display: flex;
    grid-area: h1;
    margin: 5px;
    justify-content: center;
  }
.nav-links {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
.nav-links ul {
    display: flex;
    align-items: stretch;
  }
.nav-links li {
    display: flex;
    border: 1px solid grey;
    background-color: lightgrey;
    margin: 5px;
    width: 100%;
    justify-content: center;
    padding: 10px;
  }
.header-img {
    grid-area: head;
    padding-top: 10px;
  }
img{
    max-width: 100%;
  }
#main {
    grid-area: main;
  }
.sub-section {
    grid-area: sub;
    margin: 0;
  }
footer {
    grid-area: foot;
    flex-direction: row;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
}

/* screen sizes above 500px */
@media screen and (min-width:500px){
  body {
    display: grid;
    grid-template-columns: 60% 40% ;
    grid-gap: 0;
    margin: 1px;
    padding: 2px;
    grid-template-areas:
            "h1   nav"
            "head head "
            "main sub  "
            "foot foot "
  }
  .hidden-on-desktop{
    display: none;
  }
  .nav-links {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin: 5px -10px 0px 15px;
  }
  .header-img {
    grid-area: head;
    align-items: center;
  }
  img{
    min-height: auto;
    min-width: 100%;
  }

  h1 {
    grid-area: h1;
    margin: 5px;
    align-items: center;
    justify-content: flex-start;
  }

  #main {
    grid-area: main;
    margin: 10px;
  }
  #main p {
    margin-top: 10px;
  }
  .sub-section {
    grid-area: sub;
    margin: 15px;
  }
  .sub-section p{
    margin-top: 10px;
  }

  footer {
    display: flex;
    grid-area: foot;
    flex-direction: row;
    justify-content: space-between;

  }
}


