body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    border: 1px solid gray;
    margin: 10px;
    padding: .75em;
    border-radius: .3em;
    width: 80%;

}
.message-info{
    color: darkblue;
    background-color: #CDDEFD;

}

.message-success{
    color: darkgreen;
    background-color: #CFF3DA;
}

.message-warning{
    color: #da9616;
    background-color: #FCFBC9 ;
}
.message-error{
    color: darkred;
    background-color: #F8D3D7;
}
