/* Turns element red*/
h1  {
    color: blue;

}
/* Class Header*/
.fancy-header{
    font-family: "Abadi MT Condensed Extra Bold";
    color: blue;
}
.items{

}
a:hover{
    color: green;
}

/*ID selector*/
#main-header{

}

#ipsums{
    font-family: Chalkboard;
    background-color: lightsteelblue;
}
#ipsums h1{
    color:inherit
/*    inherits causes the element for which it is
specified to take the computed
value of the property from its parent element. */
}

/* box model */
.box {
    /*default box-sizing is content-box*/
    /* border box will delete padding from total*/
    width: 150px;
    height: 150px;
    padding: 25px;
    border: 1px solid black;
    background-color: lightcyan;
    margin: 5px;
}
#box2 {
    box-sizing: border-box;
}