h1 { color: crimson; }
h2 { color: coral}


.fancy-header{
    color: cadetblue;
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}