body {
    background-image: url("img/papyrus.png");
    font-family: "American Typewriter";
    height: 100%;
    text-align: center;
}
h1 {
    color: crimson;
    text-decoration: underline overline;
    text-decoration-color: yellow;
    background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}
h2 {
    color: coral;
    font-family: "Arial Black";
}

/*  LISTS    */

ul {
    list-style: none;
    font-size: large;
}
ul li::before {
    content: "\2022";  /* 2022 is the CSS Code/unicode for a bullet */
    color: red;
}
ol {
    font-size: large;
    font-family: "helvetica";
    list-style-position: inside;
}

/*  ID SELECTOR */

#list {
    color: darkblue;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


/*  CLASS SELECTORS*/
.main-header{
    height: 3em;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-size: cover;
    text-align: center;
}
.fancy-header{
    color: cadetblue;
    text-decoration: underline;
    font-size: x-large;
    border:10px solid #2eb9ce;
}
.styler{
    font-weight: bolder;
}
table.steelBlueCols {
    font-family: "Arial Black", Gadget, sans-serif;
    border: 10px solid #551B12;
    background-color: #7DC5D3;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.steelBlueCols td, table.steelBlueCols th {
    border: 4px solid #B2B420;
    padding: 5px 10px;
}

table.steelBlueCols tbody td {
    font-size: 19px;
    font-weight: bold;
    color: #FF461C;
}

table.steelBlueCols tr:nth-child(even) {
    background: #398AA4;
}

table.steelBlueCols td:nth-child(even) {
    background: #398AA4;
}

table.steelBlueCols thead {
    background: #000000;
    border-bottom: 0px solid #398AA4;
}

table.steelBlueCols thead th {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 1px solid #398AA4;
}

table.steelBlueCols thead th:first-child {
    border-left: none;
}

table.steelBlueCols tfoot td {
    font-size: 13px;
}

table.steelBlueCols tfoot .links {
    text-align: right;
}

table.steelBlueCols tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #398AA4;
    padding: 2px 8px;
    border-radius: 5px;
}

/*SIDEBAR*/

/* The LEFT side navigation menu */
.sidebar1 {
    margin: 0;
    padding: 0;
    width: 200px;
    background-image: url("img/just-waves.png") ;
    float: left;
    height: 245vh;
}

/* Sidebar links */
.sidebar1 a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: x-large;
}

/* Active/current link */
.sidebar1 a.active {
    background-color: lightsteelblue;
    color: white;
}

/* Links on mouse-over */
.sidebar1 a:hover:not(.active) {
    background-color: #555;
    color: white;
}


.sidebar2 {
    margin: 0;
    padding: 0;
    width: 200px;
    background-image: url("img/just-waves.png") ;
    float: right;
    height: 245vh;
}

/* Sidebar links */
.sidebar2 a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: x-large;
}

/* Active/current link */
.sidebar2 a.active {
    background-color: lightsteelblue;
    color: white;
}

/* Links on mouse-over */

.sidebar2 a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/*BUTTON DECORATION*/

.button1 {
    background-color: #398AA4; /* blue */
    border: gold;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration-color: gold;
    display: inline-block;
    font-size: 18px;
}

.Button1:hover {
    background-color: black;
    color: white;
}

